main {
  margin-bottom: 94px;
}
.section-title {
  margin-top: 0;
  margin-bottom: 0;
}

/* Filters */
.filters-list {
  margin-bottom: 34px;
}
button {
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: inherit;
  border-radius: 4px;
}
button:focus {
  color: var(--accent-color);
}
button:hover {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/* Projects */
.section-title,
.projects-list .title {
  color: var(--title-text-color);
}
.projects-list .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.projects-list .indent {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  margin-top: 0;
}
